extends layout

block content
 h1= title
   form#formAddTask(name="addtask", method="post", action="/addtask")
    input#inputTaskName(type="text", placeholder="taskname", name="taskname")
    input#inputTag(type="text", placeholder="tag", name="tag")
    select#user(name="userid")
      each user, i in userlist
        option(value=user._id) #{user.username}
    button#btnSubmit(type="submit") submit

  table
    tbody
    each user, i in userlist
      tr
        td #{user.username}
        td #{user.taskname}
        td #{user.tag}
